@model List<Inveon.ECommerce.Business.DTOs.ProductDto> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-6 col-lg-4 col-xl-3 mb-3">

            @{
               
              <img src="@item.Cover" class="img-fluid"/>
              
            }

            <div class="bg-white rounded p-3">
                <h3>@item.Name</h3>
                <p>@item.Description</p>
                <span>@item.Price <span>TL</span></span>
            </div>
        </div>
        }
    </div>
</div>
